@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--gray: 0 0% 94%;
		--gray-light: 0 0% 96%;
		--gray-text: 0 0% 51%;
		--white: 0 0% 100%;
		--chat: 0 0% 27%;
		--black: 0 0% 9%;

		--background: var(--white);
		--foreground: var(--chat);

		--card: var(--white);
		--card-foreground: var(--chat);

		--popover: var(--white);
		--popover-foreground: var(--chat);

		--primary: var(--chat);
		--primary-foreground: var(--white);

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: var(--gray);
		--muted-foreground: var(--gray-text);

		--accent: var(--gray-light);
		--accent-foreground: var(--chat);

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: var(--gray);
		--input: var(--gray-light);
		--ring: var(--gray-text);

		--radius: 1rem;

		--sidebar-width: 100px;
		--listview-width: 400px;
		--friend-info-width: 400px;
	}

	.dark {
		--gray: 0 0% 94%;
		--gray-light: 220 1% 52%;
		--gray-text: 228 6% 17%;
		--white: 0 0% 100%;
		--chat: 0 0% 27%;
		--black: 220 6% 9%;

		--blue: 210 100% 63%;
		--blue-foreground: 0 0% 100%;

		--background: var(--black);
		--foreground: var(--white);

		--primary: var(--white);
		--primary-foreground: var(--gray-text);

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: var(--black);
		--popover-foreground: var(--gray);

		--muted: var(--gray-text);
		--muted-foreground: var(--gray-light);

		--accent: var(--gray-text);
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: var(--gray-text);
		--input: var(--gray-text);
		--ring: var(--blue);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.main-layout {
	display: grid;
	grid-template-columns: 100px 400px 1fr;
}
